@charset "utf-8";
@import "catpow.scss";

$selectors:(
	m:'body .site_main .page_main .page_content',
	e:'body.mce-content-body,.gutenberg .editor-block-list__layout',
	u:'#profile-page,#cpcf_custom_box .inside'
);
$sizeUnit:0.0625rem;

$heading_font:$gothic;
$text_font:$gothic;
$caption_font:$gothic;
$decoration_font:$gothic;
$strong_font:$gothic;

$images:(
	logo:'images/logo.png',
	bg:'images/bg.png',
);

$fonts:(
	g:$gothic,
	m:$mincho,
	e:'times',
	h:$heading_font,
	t:$text_font,
	c:$caption_font,
	d:$decoration_font,
	s:$strong_font,
	i:'Material Icons'
);

$sizes:(
	c:60rem
);

$breakpoints:(
	1:'min-width:640px',
	2:'min-width:960px',
	3:'min-width:1600px',
	-1:'max-width:639px',
	-2:'max-width:959px',
	-3:'max-width:1599px',
);