@charset "utf-8";

.has-padding{
	@include bnd((
		pd:var(--cp-padding-top,0) var(--cp-padding-inline,0) var(--cp-padding-bottom,0)
	));
	@each $pos in (top,bottom,inline){
		@each $size ,$default_value in (
			x-small:.5rem,
			small:1rem,
			medium:2rem,
			large:4rem,
			x-large:8rem,
			custom:2rem
		){
			&-#{$pos}-#{$size}{
				--cp-padding-#{$pos}:var(--cp-padding-#{$size},#{$default_value});
			}
		}
	}
}

.has-margin{
	@include bnd((
		mg:var(--cp-margin-top,0) a var(--cp-margin-bottom,0)
	));
	@each $pos in (top,bottom){
		@each $size ,$default_value in (
			x-small:.5rem,
			small:1rem,
			medium:2rem,
			large:4rem,
			x-large:8rem,
			custom:2rem
		){
			&-#{$pos}-#{$size}{
				--cp-margin-#{$pos}:var(--cp-margin-#{$size},#{$default_value});
			}
		}
	}
}

.has-content-width{
	@include bnd((
		w:min(var(--cp-content-width,90vw),var(--cp-content-max-width,60rem),100%),
	));
	@each $size ,$default_value in (
		fit:(fit-content,100%),
		narrow:(85vw,40rem),
		regular:(90vw,60rem),
		wide:(95vw,80rem),
		full:(100%,100%),
		custom:(90vw,60rem),
	){
		&-#{$size}{
			--cp-content-width:var(--cp-content-width-#{$size},#{nth($default_value,1)});
			--cp-content-max-width:var(--cp-content-max-width-#{$size},#{nth($default_value,2)});
		}
	}
}

.has-clip-path{
	$uy:calc(var(--cp-clip-shape-upper-height,40) * #{$sizeUnit});
	$ux1:calc(50% - var(--cp-clip-shape-upper-width,40) * #{$sizeUnit} / 2);
	$ux2:calc(50% + var(--cp-clip-shape-upper-width,40) * #{$sizeUnit} / 2);
	$by:calc(100% - var(--cp-clip-shape-below-height,40) * #{$sizeUnit});
	$bx1:calc(50% - var(--cp-clip-shape-below-width,40) * #{$sizeUnit} / 2);
	$bx2:calc(50% + var(--cp-clip-shape-below-width,40) * #{$sizeUnit} / 2);
	@include bnd((
		pdt:calc((var(--cp-padding-top,0) + var(--cp-clip-shape-upper-height,40) * #{$sizeUnit})),
		pdb:calc((var(--cp-padding-bottom,0) + var(--cp-clip-shape-below-height,40) * #{$sizeUnit})),
		mgt:calc((var(--cp-margin-top,0) - var(--cp-clip-shape-upper-height,40) * #{$sizeUnit})),
		mgb:calc((var(--cp-margin-bottom,0) - var(--cp-clip-shape-below-height,40) * #{$sizeUnit}))
	));
	&.has-clip-shape-ellipse{
		$h1:calc(var(--cp-clip-shape-amount,50) * 0.1rem);
		$h2:calc(var(--cp-clip-shape-amount,50) * 0.2rem);
		$h3:calc(100% - var(--cp-clip-shape-amount,50) * 0.1rem);
		clip-path: inset(0);
		@supports(clip-path:shape(from 0 0,hline to 100%,vline to 100%,hline to 0%,close)){
			&.has-clip-shape-both{
				clip-path:shape(from 0% #{$h1}, arc by 100%  0% of 60% #{$h2} cw, vline to #{$h3}, arc by -100%  0% of 60% #{$h2} cw, close);
			}
			&.has-clip-shape-upper{
				clip-path:shape(from 0% #{$h1}, arc by 100%  0% of 60% #{$h2} cw, vline to 100%, hline to 0%, close);
			}
			&.has-clip-shape-below{
				clip-path:shape(from 0% 0%,hline to 100%,vline to #{$h3}, arc by -100%  0% of 60% #{$h2} cw, close);
			}
		}
	}
	&.has-clip-shape-slope{
		clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		&.has-clip-shape-below-left{
			clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% #{$by});
		}
		&.has-clip-shape-below-right{
			clip-path:polygon(0% 0%, 100% 0%, 100% #{$by}, 0% 100%);
		}
		&.has-clip-shape-upper-left{
			clip-path:polygon(0% #{$uy}, 100% 0%, 100% 100%, 0% 100%);
			&.has-clip-shape-below-left{
				clip-path:polygon(0% #{$uy}, 100% 0%, 100% 100%, 0% #{$by});
			}
			&.has-clip-shape-below-right{
				clip-path:polygon(0% #{$uy}, 100% 0%, 100% #{$by}, 0% 100%);
			}
		}
		&.has-clip-shape-upper-right{
			clip-path:polygon(0% 0%, 100% #{$uy}, 100% 100%, 0% 100%);
			&.has-clip-shape-below-left{
				clip-path:polygon(0% 0%, 100% #{$uy}, 100% 100%, 0% #{$by});
			}
			&.has-clip-shape-below-right{
				clip-path:polygon(0% 0%, 100% #{$uy}, 100% #{$by}, 0% 100%);
			}
		}
	}
	&.has-clip-shape-arrow{
		clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		&.has-clip-shape-below-in{
			clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 50% #{$by}, 0% 100%);
		}
		&.has-clip-shape-below-out{
			clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 100% #{$by}, 50% 100%, 0% #{$by});
		}
		&.has-clip-shape-upper-in{
			clip-path:polygon(0% 0%, 50% #{$uy}, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
			&.has-clip-shape-below-in{
				clip-path:polygon(0% 0%, 50% #{$uy}, 100% 0%, 100% 100%, 100% 100%, 50% #{$by}, 0% 100%);
			}
			&.has-clip-shape-below-out{
				clip-path:polygon(0% 0%, 50% #{$uy}, 100% 0%, 100% 100%, 100% #{$by}, 50% 100%, 0% #{$by});
			}
		}
		&.has-clip-shape-upper-out{
			clip-path:polygon(0% #{$uy}, 50% 0%, 100% #{$uy}, 100% 100%, 0% 100%);
			&.has-clip-shape-below-in{
				clip-path:polygon(0% #{$uy}, 50% 0%, 100% #{$uy}, 100% 100%, 50% #{$by}, 0% 100%);
			}
			&.has-clip-shape-below-out{
				clip-path:polygon(0% #{$uy}, 50% 0%, 100% #{$uy}, 100% #{$by}, 50% 100%, 0% #{$by});
			}
		}
	}
	&.has-clip-shape-tail{
		clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		&.has-clip-shape-below-in{
			clip-path:polygon(0% 0%, 100% 0%, 100% 100%, #{$bx2} 100%, 50% #{$by}, #{$bx1} 100%, 0% 100%);
		}
		&.has-clip-shape-below-out{
			clip-path:polygon(0% 0%, 100% 0%, 100% #{$by}, #{$bx2} #{$by}, 50% 100%, #{$bx1} #{$by}, 0% #{$by});
		}
		&.has-clip-shape-upper-in{
			clip-path:polygon(0% 0%, #{$ux1} 0%, 50% #{$uy}, #{$ux2} 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
			&.has-clip-shape-below-in{
				clip-path:polygon(0% 0%, #{$ux1} 0%, 50% #{$uy}, #{$ux2} 0%, 100% 0%, 100% 100%, 100% 100%, #{$bx2} 100%, 50% #{$by}, #{$bx1} 100%, 0% 100%);
			}
			&.has-clip-shape-below-out{
				clip-path:polygon(0% 0%, #{$ux1} 0%, 50% #{$uy}, #{$ux2} 0%, 100% 0%, 100% 100%, 100% #{$by}, #{$bx2} #{$by}, 50% 100%, #{$bx1} #{$by}, 0% #{$by});
			}
		}
		&.has-clip-shape-upper-out{
			clip-path:polygon(0% #{$uy}, #{$ux1} #{$uy}, 50% 0%, #{$ux2} #{$uy}, 100% #{$uy}, 100% 100%, 0% 100%);
			&.has-clip-shape-below-in{
				clip-path:polygon(0% #{$uy}, #{$ux1} #{$uy}, 50% 0%, #{$ux2} #{$uy}, 100% #{$uy}, 100% 100%, #{$bx2} 100%, 50% #{$by}, #{$bx1} 100%, 0% 100%);
			}
			&.has-clip-shape-below-out{
				clip-path:polygon(0% #{$uy}, #{$ux1} #{$uy}, 50% 0%, #{$ux2} #{$uy}, 100% #{$uy}, 100% #{$by}, #{$bx2} #{$by}, 50% 100%, #{$bx1} #{$by}, 0% #{$by});
			}
		}
	}
}
.has-background-image{
	@include bnd((p:r));
	&::before{
		content:'';
		@include bnd((d:b,p:a,i:0,z:0));
		@include bg((
			i:var(--cp-background-image,'./images/bg.png'),
			r:var(--cp-background-image-repeat,repeat),
			p:var(--cp-background-image-position,center),
			s:var(--cp-background-image-size,contain),
			bm:var(--cp-background-image-background-blendmode,normal)
		));
		@include trn((bm:var(--cp-background-image-blendmode,normal),o:var(--cp-background-image-opacity,1)));
	}
	&.has-background-image-fixed{
		&::before{
			@include bnd((p:f,w:100vw,h:100vh));
		}
		&:not(.has-clip-path){
			@include clp((i:0));
		}
	}
}
.has-background-pattern{
	@include bg((
		i:var(--cp-background-pattern,'./images/bg.png'),
		r:var(--cp-background-pattern-repeat,repeat),
		p:var(--cp-background-pattern-position,repeat),
		s:var(--cp-background-pattern-size,contain),
		bm:var(--cp-background-pattern-background-blendmode,normal)
	));
}

.has-font-size{
	@each $size ,$default_value in (
		x-small:.75rem,
		small:.875rem,
		medium:1rem,
		large:1.25rem,
		x-large:1.5rem,
		custom:.875rem
	){
		&-#{$size}{
			--cp-font-size:var(--cp-font-size-#{$size},#{$default_value});
		}
	}
}
.has-border-radius{
	@each $size ,$default_value in (
		none:0,
		small:.5rem,
		medium:1rem,
		large:3rem,
		custom:.5rem
	){
		&-#{$size}{
			--cp-border-radius:var(--cp-border-radius-#{$size},#{$default_value});
		}
	}
}

.has-item-size{
	@each $size ,$default_value in (
		small:10rem,
		medium:20rem,
		large:40rem,
		custom:20rem
	){
		&-#{$size}{
			--cp-item-size:var(--cp-item-size-#{$size},#{$default_value});
		}
	}
}
.has-item-gap{
	@each $size ,$default_value in (
		small:1rem,
		medium:2rem,
		large:4rem,
		custom:2rem
	){
		&-#{$size}{
			--cp-item-gap:var(--cp-item-gap-#{$size},#{$default_value});
		}
	}
}