@charset "utf-8";

$gothic:('Helvetica Neue',"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif);
$mincho:Georgiam,'Hiragino Mincho ProN','Yu Mincho', serif;

$safe-serif:(Georgia,'Times New Roman', Times, serif);
$safe-serif-bold:(Georgia,'Times New Roman', Times, serif);
$safe-sans-serif:(Arial, Helvetica, sans-serif);
$safe-sans-serif-bold:('Arial Black',Arial, Helvetica, sans-serif);
$safe-mono-spaced:(Courier New, Courier, monospace);
$safe-mono-spaced-bold:(Courier New, Courier, monospace);
$safe-gothic:(-apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3", "Hiragino Sans", "Meiryo", "メイリオ","MS PGothic", sans-serif);
$safe-gothic-bold:("Yu Gothic", "Yu Gothic UI", Meiryo, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif);
$safe-mincho:("Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3","MS PMincho", "ＭＳ Ｐ明朝", serif);
$safe-mincho-bold:("Yu Mincho", "MS Mincho", "Hiragino Mincho ProN", serif);

$shd:rgba(0,0,0,.3);

@import "src/_basic.scss";

@import "src/_bnd.scss";
@import "src/_col.scss";
@import "src/_bdr.scss";
@import "src/_bg.scss";
@import "src/_selector";
@import "src/_txt.scss";

@import "src/_usr.scss";

@import "src/_cnt.scss";

@import "src/_bp.scss";
@import "src/_ctn.scss";

@import "src/_trn.scss";
@import "src/_anm.scss";
@import "src/_gradient.scss";
@import "src/_shd.scss";
@import "src/_clp.scss";
@import "src/_msk.scss";

@import "src/_tbl.scss";

@import "src/_flx.scss";
@import "src/_grd.scss";

@import "src/_svg.scss";

@import "src/_wp.scss";