@charset "utf-8";

@each $h,$role in (f:frame,h:header,c:card,b:button,l:label,t:tab,i:input,){
	%#{$role}-component{
		@include bnd((pd:sp- + $h));
		@include bdr((
			w:var(--cp-border-width-c-#{$h},0),
			r:var(--cp-border-radius-c-#{$h},0)
		));
		@include shd((b:c- + $h));
	}
}