@charset "utf-8";


.cp{
	&-checkbox{
		&__icon{
		}
		&__label{
		}
		&.is-selected &{
			&__icon{
			}
			&__label{
			}
		}
	}
	&-checkboxes{
	}
	&-jsoneditor{
		&-editor{
			&__body{
				&-contents{
				}
				&-header{
					&-controls{
						&-save{
						}
					}
					&-title{
					}
				}
			}
		}
		&-input{
			&-checkbox{
			}
			&-number{
			}
			&-objectinput{
				&-block{
					&.is-layout-block{
					}
					&.is-level-0{
					}
					&.is-size-medium{
					}
					&__item{
						&-body{
						}
						&-title{
						}
					}
				}
			}
			&-radio{
			}
			&-range{
				&__input{
				}
				&__range{
				}
			}
			&-select{
			}
			&-text{
				&__input{
				}
			}
			&-textarea{
				&__textarea{
				}
			}
			&-toggle{
			}
			&.is-invalid{
			}
			&.is-layout-block{
			}
			&.is-level-1{
			}
			&.is-size-medium{
			}
			&__body{
			}
		}
	}
	&-radiobuttons{
		&.is-size-medium{
		}
		&__button{
			&-icon{
			}
			&-label{
			}
			&.is-selected{
			}
		}
	}
	&-selectbox{
		&__select{
			&-option{
			}
		}
	}
	&-toggle{
		@include bnd((d:b,w:3em));
		@include shd((b:-4));
		&__handler{
		}
	}
}