@charset "utf-8";

.rtf{
	&-title{
		@include bnd((d:b,p:r));
		@include txt((f:h,p:1.25em));
		&:not(:first-child){
			@include bnd((mgt:1em));
		}
		&.iheader{
			@include bnd((pdb:.25em,mgb:.5em));
			@include bdr((p:b,s:s,w:1));
		}
		&.iheadline{
			@include bnd((p:r,pd:0,pdl:1.5em,mgb:.5em));
			@include txt((p:1.1em,h:1.5em));
			&::before{
				content:'';
				@include bnd((d:b,p:a,t:.25em,l:0,w:1em,h:1em));
				@include bg((c:m));
			}
		}
		&.icatch{
			@include bnd((mgb:.5em));
			@include txt((p:1.25em));
		}
		img{
			@include bnd((d:ib,w:a,h:1em));
			@include txt((v:m));
			&:only-child{
				@include bnd((d:b,w:f,h:a));
			}
		}
	}
	&-large{
		@include bnd((d:ib));
		@include txt((p:1.5em,w:b,c:m));
	}
	&-u{
		@include txt((td:u .05em .2em));
	}
	&-mark{
		@include bg((p:0% -.25em));
		@include stripe(clr(a 1 .15));
	}
	&-tag{
		@include bnd((d:ib,pd:.2em 1em,mg:0 .2em));
		@include bdr((r:1em));
		@include bg((c:mx));
		@include txt((c:bx,h:1em,s:n));
		@include usr((c:p));
	}
	&-annotation{
		@include bnd((d:b,p:r,pdl:1.5em));
		&::before{
			content:'※';
			@include bnd((d:b,p:a,t:0,l:0));
		}
	}
	&-button{
		@include bnd((d:ib,mg:.5em 0,w:200 a,pd:.5em 1em));
		@include bdr((r:.2em));
		@include bg((c:mx));
		@include txt((a:c,h:1em,td:n,c:i));
		&__label{
		}
	}
	&-code{
	}
	&-link{
		&.is-link-external{
		}
		&.is-link-pdf{
		}
	}
	&-tel{
		@include txt((p:1.5em,f:d,w:b,c:m));
	}
	&-mailto{
		@include txt((p:1.5em,f:d,w:b,c:m));
	}
	&-listed{
		@include grd((tc:a 1fr,g:.5em));
		&.is-level-1{
			@include bnd((pdl:1em));
		}
		&.is-level-1{
			@include bnd((pdl:1em));
		}
		&.is-level-1{
			@include bnd((pdl:1em));
		}
		&__dd{
			@include bnd((pd:0,mg:0));
		}
		&__dt{
			@include bnd((pd:0,mg:0));
		}
	}
	&-dl{
		$block:&;
		@include grd((tc:a 1fr,g:.2em));
		@include txt((p:.9em));
		&__dt{
			@include bnd((pd:.5em,mg:0));
			@include bg((c:m));
			@include bdr((r:.5em 0 0 .5em));
			@include txt((c:i));
		}
		&__dd{
			@include bnd((pd:.5em,mg:0));
			@include bg((c:s));
			@include bdr((r:0 .5em .5em 0));
		}
		&.is-level-1{
			>#{$block}{
				&__dt{
					@include bg((c:m 1 .2));
					@include txt((c:t));
				}
			}
		}
	}
	&-notes{
		@include bnd((pd:.75em));
		@include grd((tc:a 1fr,g:.25em));
		@include txt((p:.8em));
		@include bg((c:s));
		@include bdr((r:.5em));
		&__dt{
			@include bnd((pd:0,mg:0));
			&::after{
				content:'：';
				@include bnd((d:ib,fl:r));
			}
		}
		&__dd{
			@include bnd((pd:0,mg:0));
		}
	}
	&-ul{
		$block:&;
		@include bnd((mg:.5em 0));
		@include txt((l:n));
		&__li{
			@include bnd((p:r,pdl:1em));
			&::before{
				content:'';
				@include bnd((d:b,p:a,t:.4em,l:0,w:.4em,h:.4em));
				@include bdr((r:50%));
				@include bg((c:mx));
				@include txt((p:1.1em,w:b,f:d,c:mx));
			}
		}
		&.is-level-1{
			>#{$block}{
				&__li{
					&::before{
						@include bnd((t:.5em,w:.2em,h:.2em));
						@include bg((c:t));
					}
				}
			}
		}
	}
	&-ol{
		@include cnt((r:rtf-ol));
		@include bnd((mg:.5em 0));
		@include txt((l:n));
		&__li{
			@include bnd((p:r,pdl:2em));
			&::before{
				@include cnt((i:rtf-ol,c:n '.'));
				@include bnd((d:b,p:a,l:0,t:0));
				@include txt((p:1.1em,w:b,f:d,c:mx));
			}
		}
	}
	&-del{
		@include txt((td:s));
	}
	&-small{
		@include txt((p:.9em));
	}
	&-em{
		@include txt((c:mx));
	}
	&-strong{
		@include txt((w:b));
	}
	&-stronger{
		@include txt((p:1.2em,c:mx));
	}
	&-strongest{
		@include txt((p:1.5em,w:bx,c:a));
	}
}