@charset "utf-8";

:root{
	.has-text-color-text{
		@include txt((c:tx));
	}
	.has-text-color-highlight{
		@include txt((c:hx));
	}
	.has-text-color-gradient{
		@include bnd((d:ib));
		@include txt((c:n));
		@include bg((g:l 90deg hx oklch(from #{clr(hx)} l c calc(h + 90)),cl:t));
	}

	.has-text-effect{
		&-glow{
			@include shd((t:n));
			@include trn((shd:(0 0 .05em clr(ix),0 0 .2em clr(ix))));
		}
		&-stroke{
			$shd:();
			@for $i from 0 to 8{
				$shd:append($shd,calc(sin(#{$i * 45deg}) * 0.04em) calc(cos(#{$i * 45deg}) * 0.04em) clr(ix),$separator: comma);
			}
			@for $i from 0 to 8{
				$shd:append($shd,calc(sin(#{$i * 45deg}) * 0.02em) calc(cos(#{$i * 45deg}) * 0.02em) clr(ix),$separator: comma);
			}
			@include shd((t:n));
			@include trn((shd:$shd));
		}
		&-double-stroke{
			$shd:();
			@for $i from 0 to 8{
				$shd:append($shd,calc(sin(#{$i * 45deg}) * 0.04em) calc(cos(#{$i * 45deg}) * 0.04em) clr(ix),$separator: comma);
			}
			@for $i from 0 to 8{
				$shd:append($shd,calc(sin(#{$i * 45deg}) * 0.02em) calc(cos(#{$i * 45deg}) * 0.02em) clr(ix),$separator: comma);
			}
			@for $i from 0 to 8{
				$shd:append($shd,calc(sin(#{$i * 45deg}) * 0.04em) calc(cos(#{$i * 45deg}) * 0.04em) clr(mx),$separator: comma);
			}
			@for $i from 0 to 8{
				$shd:append($shd,calc(sin(#{$i * 45deg}) * 0.02em) calc(cos(#{$i * 45deg}) * 0.02em) clr(mx),$separator: comma);
			}
			@include shd((t:n));
			@include trn((shd:$shd));
		}
		&-emboss{
			@include shd((t:n));
			@include trn((shd:(.05em .05em .05em clr(shd),-.05em -.05em .05em clr(lst))));
		}
	}

	@each $size,$h in (
		x-small:xs,
		small:s,
		medium:m,
		large:l,
		x-large:xl,
	){
		.has-font-size-relative-#{$size}{
			@include txt((p:var(--cp-font-size-r-#{$h})));
		}
	}

	@each $weight,$h in (
		thin:t,
		extra-light:e,
		light:l,
		regular:r,
		medium:m,
		demi-bold:d,
		bold:b,
		ultra-bold:u,
		heavy:h
	){
		.has-font-weight-#{$weight}{
			@include txt((w:$h));
		}
	}
	@each $weight,$h in (
		x-light:xl,
		light:l,
		regular:r,
		bold:b,
		x-bold:xb,
	){
		.has-font-weight-specific-#{$weight}{
			@include txt((w:var(--cp-font-weight-s-#{$h})));
		}
	}

	.has-text-align-left{
		@include txt((a:l));
	}
	.has-text-align-center{
		@include txt((a:c));
	}
	.has-text-align-right{
		@include txt((a:r));
	}

	@each $family,$h in (
		gothic:f-g,
		mincho:f-m,
		english:f-e,
		code:f-c,
		decoration:f-d,
		script:f-s
	){
		.has-font-family-#{$family}{
			@include txt((f:var(--cp-font-family-#{$h})));
		}
	}

	.has-font-safe-serif{
		@include txt((f:$safe-serif));
		&.has-font-weight-safe-bold{
			@include txt((f:$safe-serif-bold,w:b));
		}
	}
	.has-font-safe-sans-serif{
		@include txt((f:$safe-sans-serif));
		&.has-font-weight-safe-bold{
			@include txt((f:$safe-sans-serif-bold,w:b));
		}
	}
	.has-font-safe-mono-spaced{
		@include txt((f:$safe-mono-spaced));
		&.has-font-weight-safe-bold{
			@include txt((f:$safe-mono-spaced-bold,w:b));
		}
	}
	.has-font-safe-gohic{
		@include txt((f:$safe-gothic));
		&.has-font-weight-safe-bold{
			@include txt((f:$safe-gothic-bold,w:b));
		}
	}
	.has-font-safe-mincho{
		@include txt((f:$safe-mincho));
		&.has-font-weight-safe-bold{
			@include txt((f:$safe-mincho-bold,w:b));
		}
	}
}