@charset "utf-8";

@each $h,$role in (h:heading,l:lead,p:paragraph,u:ui,c:caption){
	%#{$role}-block{
		@include bnd((mg:var(--cp-margin-t-#{$h},0)));
	}
	%#{$role}{
		@include txt((
			f:var(--cp-font-family-t-#{$h},inherit),
			p:var(--cp-font-size-t-#{$h},2em),
			w:var(--cp-font-weight-t-#{$h},regular),
			h:var(--cp-line-height-t-#{$h},1.5),
			t:var(--cp-letter-spacing-t-#{$h},normal)
		));
	}
}