@mixin ol_style_a($color:#888){
	padding:20px 40px;counter-reset:li;
	li{
		@include txt((p:13,c:#666,w:r,f:g,l:n));
		background:tint($color,10%);padding:5px;position:relative;margin:5px;
		padding-left:40px;border-top:solid 1px $color;
		&:before{
			content:counter(li);counter-increment:li;display:block;
			position:absolute;top:0;left:0;background:$color;
			@include txt((a:c,p:13,c:white,w:b,f:g));
			padding:5px;
			
		}
	}
}