@mixin anm($trn){
	$keys:(
		a:animation,
		dur:animation-duration,
		del:animation-delay,
		dir:animation-direction,
		e:animation-timing-function,
		i:animation-iteration-count,
		f:animation-fill-mode,
		p:animation-play-state
	);
	$avals:(i:infinite,r:reverse,a:alternate,e:ease,l:linear,f:forwards,b:backwards);
	$fvals:(f:forwards,b:backwards);
	$ivals:(i:infinite);
	
	@each $key,$val in $trn{
		@if $key == 'a'{$val:replace_values($val,$avals);}
		@if $key == 'e'{$val:ease($val);}
		@if $key == 'i'{$val:replace_values($val,$ivals);}
		@if $key == 'f'{$val:replace_values($val,$fvals);}
		@if map-has-key($keys,$key){#{map-get($keys,$key)}:$val;}
	}
}

