@mixin bp($bp){
	@if global-variable-exists("breakpoints") and type-of($breakpoints) == 'map' {
		@if map-has-key($breakpoints,$bp){$bp:map-get($breakpoints,$bp);}
	}
	@if type-of($bp) == 'number'{
		@if $bp < 0{
			$bp:'max-width:' + abs($bp);
		}
		@else if $bp > 0{
			$bp:'min-width:' + $bp;
		}
		@if unitless($bp){
			$bp:$bp + 'px';
		}
	}
	@media(#{$bp}){
		@content;
	}
}