@mixin cnt($cnt:false){
	$sel:false;
	$id:list-item;
	$c:false;
	$fmt:false;
	$fvals:(
		d:decimal,jd:cjk-decimal,
		r:upper-roman,lr:lower-roman,
		a:upper-alpha,la:lower-alpha,
		j:japanese-formal,ji:japanese-informal,
		h:hiragana,hi:hiragana-iroha,
		k:katakana,ki:katakana-iroha
	);
	@if type-of($cnt) == 'map'{
		@each $key,$val in $cnt{
			@if $key == s{$sel:$val;}
			@if $key == r{
				$id:$val;
				counter-reset: $id;
			}
			@if $key == i{
				$id:$val;
				counter-increment: $id;
			}
			@if $key == c{$c:$val;}
		}
	}
	@if $c != false{
		@if type-of($c) == 'list'{
			@each $fi in $c{
				@if $fi == n {$fi:counter(#{$id});}
				@if map-has-key($fvals,$fi){$fi:counter(#{$id},#{map-get($fvals,$fi)});}
				@if type-of($fmt) == 'list'{$fmt:append($fmt,$fi);}
				@else if $fmt == false{$fmt:$fi;}
				@else {$fmt:$fmt $fi;}
			}
		}
		@else {
			$fmt:$c;
			@if $fmt == n {$fmt:counter(#{$id});}
			@if map-has-key($fvals,$fmt){$fmt:counter(#{$id},#{map-get($fvals,$fmt)});}
		}
		@if $fmt != false{
			@if $sel !=false{
				#{$sel}::before{content:$fmt;}
			}
			@else{
				content:$fmt;
			}
		}
	}
}