@mixin ctn($cnd){
	@if type-of($cnd) == 'list'{
		@for $i from 1 through length($cnd) {
			$c:nth($cnd,$i);
			@if type-of($c) == 'number'{
				@if unitless($cnd){
					$c:$c * 1px;
				}
				@if $c < 0{
					$c:'(width < ' + abs($c) + ')';
				}
				@else if $cnd > 0{
					$c:'(width > ' + $c + ')';
				}
			}
			$cnd:set-nth($cnd,$i,$c);
		}
	}
	@else{
		@if type-of($cnd) == 'number'{
			@if unitless($cnd){
				$cnd:$cnd * 1px;
			}
			@if $cnd < 0{
				$cnd:'(width < ' + abs($cnd) + ')';
			}
			@else if $cnd > 0{
				$cnd:'(width > ' + $cnd + ')';
			}
		}
	}
	@container #{$cnd} {
		&{@content;}
	}
}