@mixin tail($prm){
	$p:b;
	$w:10;
	$c:m;
	@if map-has-key($prm,p){$p:map-get($prm,p);}
	@if map-has-key($prm,w){$w:map-get($prm,w);}
	@if map-has-key($prm,c){$c:map-get($prm,c);}
	@include bnd((d:b,p:a,w:1,h:1,mg:a));
	@include bdr((s:s,w:$w,c:n));
	@if $p == 't'{
		@include bnd((b:100%,l:0,r:0));
		@include bdr((p:b,c:$c));
	}
	@else if $p == 'b'{
		@include bnd((t:100%,l:0,r:0));
		@include bdr((p:t,c:$c));
	}
	@if $p == 'l'{
		@include bnd((r:100%,t:0,b:0));
		@include bdr((p:r,c:$c));
	}
	@else if $p == 'r'{
		@include bnd((l:100%,t:0,b:0));
		@include bdr((p:l,c:$c));
	}
}